.main {
    z-index: 1;
    position: relative;
    overflow: hidden;
    height: 100vh;
    &__container {
        display: flex;
        justify-content: center;
    }
    &__block {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__title, &__subtitle {
        line-height: 130%;
        font-size: 42px;
        text-align: center;
    }
    &__btn {
        padding: 0;
        margin: 20px auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 50px;
        font-size: 19px;
        @media (any-hover: hover) {
            &:hover {
                span {
                    transform: rotate(-90deg);
                }
            }
        }
        span {
            transition: 0.3s transform;
            margin-left: 10px;
            height: 32.5px;
            i {
                margin: 0;
                height: 100%;
                font-size: 25px;
            }
        }
    }
}

#stars { 
    overflow: hidden;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(37, 41, 52);
    transition: all 0.4s ease-in-out;
}

#bubbles { 
    overflow: hidden;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(37, 41, 52);
    transition: all 0.4s ease-in-out;
}
