.media {
    background-color: #1b242f;
    padding: 50px 0;
    &__block {
        margin: 0 auto;
        width: 150px;
    }
    &__block, &__block-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-item {
            border: 1px solid #3f51b5;
            justify-content: center;
            transition: 0.8s all;
            transform: scale(0);
            &._active {
                transform: scale(1);
            }
            img {
                width: 20px;
                height: 20px;
            }
            picture {
                height: 30px;
            }
        }
    }
    &__copyright {
        margin-top: 25px;
        font-size: 15px;
    }
    @media (max-width:$md4+px) { 
        padding: 40px 0;
    }
}