.projects {
    background: rgb(245, 245, 245);
    padding: 80px 0;
    min-height: 600px;
    &__h2 {
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        font-size: 42px;
    }
    &__divider {
        margin: 20px auto 0;
        width: 100px;
        height: 4px;
    }
    &__tabs {
        background-color: inherit;
        width: 400px;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        .tab a.active {
            color: #c62828;
        }
        .indicator {
            background-color: #c62828;
        }
    }
    &__wrapper {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        &-item {
            position: relative;
            flex: 0 1 390px;
            height: 300px;
        }
        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-overlay {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            overflow: hidden;
            padding: 75px 0;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        &-title {
            line-height: 125%;
            font-weight: 500;
            text-align: center;
            font-size: 22px;
        }
        &-text {
            line-height: 125%;
            font-weight: 400;
            color: #c62828;
            text-align: center;
            font-size: 17px;
        }
        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 50px;
        }
    }
}