// подключение шрифтов

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

/* :root {
    // переменные
} */

// код для скролла

/* ::-webkit-scrollbar { width: 10px; height: 3px; }
::-webkit-scrollbar-button { background-color: #fff; display: none; }
::-webkit-scrollbar-track { background-color: #fff; }
::-webkit-scrollbar-track-piece { background-color: #fff; }
::-webkit-scrollbar-thumb { height: 50px; background-color: #9F06FF; border-radius: 3px; }
::-webkit-scrollbar-corner { background-color: #999; }
::-webkit-resizer { background-color: #999; } */

//ПЕРЕМЕННЫЕ ===========================

// ШРИФТ ПО УМОЛЧАНИЮ ==================

$fontFamily: 'Montserrat', sans-serif;
$fontSize: 16;

// НАСТРОЙКИ КОНТЕЙНЕРА И АДАПТИВ ======

$minWidth: 320px;
$maxWidth: 1440; // - ширина всего полотна
$maxWidthContainer: 1210;
$md1: maxWidthContainer;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;   

// ЦВЕТА ===============================

$mainColor: #000;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: $fontFamily;
    // scroll-behavior: smooth;
}

input {
    border: none;
    outline: none;
}

button {
    display: block;
    border: none;
}

ul {
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.container {
    // стоит к ширине ограничивающего контейнера добавить ещё 30px для padding'ов слева и справа
    max-width: $maxWidthContainer + px;
    padding: 0 15px;
    margin: 0 auto;

    /* @media (max-width: $md1+px) {  // первый max-width == max-width контейнера --?
        max-width: 960px;
    }
    @media (max-width:$md2+px) {
        max-width: 720px;
    }
    @media (max-width:$md3+px) {
        max-width: 540px;
    }
    @media (max-width:$md4+px) { // -- ?
        max-width: auto;
        padding: 0 15px;
    } */
}



